In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
df = pd.read_csv('free_throws.csv', encoding='utf-8')

In [27]:
ft_attempts_threshold = 100

In [28]:
shooting = df.groupby(['player','season'])['shot_made'].agg(['size', 'sum', 'mean'])
shooting = shooting.rename(columns={'size': 'ft_count', 'sum': 'ft_made', 'mean': 'percentage'})
# to make sure the shooting percentages are valid, the players should have at least taken ft_attempts_threshold shots
shooting = shooting[shooting.ft_count>=ft_attempts_threshold]

shooting.head(3)

                          ft_count  ft_made  percentage
player       season
Aaron Brooks 2008 - 2009       218      186    0.853211
             2009 - 2010       298      245    0.822148
             2010 - 2011       140      124    0.885714

In [29]:
shooting_no_pressure = df[df.period<=3]
shooting_no_pressure = shooting_no_pressure.groupby(['player','season'])['shot_made'].agg(['size', 'sum', 'mean'])
shooting_no_pressure = shooting_no_pressure.rename(columns={'size': 'ft_count', 'sum': 'ft_made', 'mean': 'percentage'})
# to make sure the shooting percentages are valid, the players should have at least taken ft_attempts_threshold shots
shooting_no_pressure = shooting_no_pressure[shooting_no_pressure.ft_count>=ft_attempts_threshold]

shooting_no_pressure.head(3)

                          ft_count  ft_made  percentage
player       season
Aaron Brooks 2008 - 2009       111       97    0.873874
             2009 - 2010       168      138    0.821429
             2014 - 2015       112       91    0.812500